<a href="https://colab.research.google.com/github/xoyeon/Dacon-Daily-Python-Camp/blob/main/Lv1_EDA_2_12_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%88%EB%9F%AC%EC%98%A4%EA%B8%B0_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [↩️ 리스트로 돌아가기](https://dacon.io/competitions/open/235698/overview/description)

# 셀을 실행할 때 팝업이 뜨면 `무시하고 계속하기` 를 눌러주세요

## 데이터 다운로드
--- 
아래 셀을 실행시켜 데이터를 colab에 불러옵니다.  
셀 실행은 <br>Windows: `Ctrl` + `Enter`<br>
Mac: `Shift` + `Enter` <br>
를 이용해 실행 시킬 수 있습니다.

In [1]:
# 데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3l6g8j3'

import zipfile
with zipfile.ZipFile('3l6g8j3', 'r') as existing_zip:
    existing_zip.extractall('data')

--2021-09-14 02:53:28--  https://bit.ly/3l6g8j3
Resolving bit.ly (bit.ly)... 67.199.248.11, 67.199.248.10
Connecting to bit.ly (bit.ly)|67.199.248.11|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://docs.google.com/uc?export=download&id=1n-cTWLp385P-DmmNuMAg6zJDw8MNAPwu [following]
--2021-09-14 02:53:28--  https://docs.google.com/uc?export=download&id=1n-cTWLp385P-DmmNuMAg6zJDw8MNAPwu
Resolving docs.google.com (docs.google.com)... 74.125.202.139, 74.125.202.113, 74.125.202.100, ...
Connecting to docs.google.com (docs.google.com)|74.125.202.139|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-0g-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/erid436iho4oj4b4u3oj0f2141gn4rki/1631587950000/17946651057176172524/*/1n-cTWLp385P-DmmNuMAg6zJDw8MNAPwu?e=download [following]
Warning: wildcards not supported in HTTP.
--2021-09-14 02:53:33--  https://doc-0g-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/erid436iho4oj4b4u3oj0f2141gn4rki/1631587950000/17946651057176172524/*/1n-cTWLp385P-DmmNuMAg6zJDw8MNAPwu?e=download
Resolving doc-0g-10-docs.googleusercontent.com (doc-0g-10-docs.googleusercontent.com)... 209.85.147.132, 2607:f8b0:4001:c20::84
Connecting to doc-0g-10-docs.googleusercontent.com (doc-0g-10-docs.googleusercontent.com)|209.85.147.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/x-zip-compressed]
Saving to: ‘3l6g8j3’

3l6g8j3                 [ <=>                ]  21.28M   133MB/s    in 0.2s

2021-09-14 02:53:33 (133 MB/s) - ‘3l6g8j3’ saved [22312699]

In [2]:
# 데이터를 실습에 맞게 조금 조작해 주겠습니다. 
import pandas as pd

train  = pd.read_csv('data/train.csv')
test  = pd.read_csv('data/test.csv')
df = pd.DataFrame({'index' : ['인덱스'],
                   'category' : ['카테고리'],
                   'data' : ['데이터']})
                   
train_new = pd.concat([df,train])
test_new = pd.concat([df,test])

train_new.to_csv('data/train.csv',index=False)
test_new.to_csv('data/test.csv',index=False)

In [3]:
train.head()

   index  category                                               data
0      0         2  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
1      1         0  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
2      2         1  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...
3      3         1  티비 12세,15세 관람가도 연령확인 의무화 하자.. 제기 에전에 티비를 보다가 잠...
4      4         1  무더운 여름철엔 남성들도 시원한 자율복장을 해야. 무더운 여름철에는 남성들도 노넥타...

In [4]:
test.head()

   index                                               data
0      0  소년법 폐지해주세요. 법 아래에서 보호받아야 할 아이들이\n법으로 인해 보호받지 못...
1      1  국공립 유치원 증설에 관하여. 국공립 유치원 부지 학보와건립및 증설에\n*지역 어린...
2      2                   나경원파면. 나경원의원의  동계올림픽 위원을 파면해 주세요
3      3  국민위원에가 삼성편만들어요. 삼성에서 11년간  일하고 혈암과 백혈병 진단을 받은 ...
4      4  방과후,유치원,어린이집 영어교육을 유지시켜주세요. 저는 아이 셋 키우는 평범한 주부...

## 실습
---
`data` 폴더에 있는 `test.csv` 파일과 `train.csv` 파일에서 두번째 행을 컬럼으로 지정하여 불러오기.

In [5]:
# 데이터의 두번째 행을 컬럼으로 지정하여 불러오기

train = pd.read_csv('data/train.csv', header = 1)
test = pd.read_csv('data/test.csv', header = 1)

In [6]:
train.head()

   인덱스  카테고리                                                데이터
0    0     2  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
1    1     0  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
2    2     1  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...
3    3     1  티비 12세,15세 관람가도 연령확인 의무화 하자.. 제기 에전에 티비를 보다가 잠...
4    4     1  무더운 여름철엔 남성들도 시원한 자율복장을 해야. 무더운 여름철에는 남성들도 노넥타...

## 정답
---
스스로 실습 코드를 작성 한 후 정답 코드를 확인해 보세요.

In [8]:
import pandas as pd

# 정답 코드
train = pd.read_csv('data/train.csv',header = 1) 
test = pd.read_csv('data/test.csv',header=1)

### header 옵션을 주지 않은 데이터와 비교 해보기

In [9]:
train.head()

   인덱스  카테고리                                                데이터
0    0     2  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
1    1     0  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
2    2     1  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...
3    3     1  티비 12세,15세 관람가도 연령확인 의무화 하자.. 제기 에전에 티비를 보다가 잠...
4    4     1  무더운 여름철엔 남성들도 시원한 자율복장을 해야. 무더운 여름철에는 남성들도 노넥타...

In [10]:
# header 옵션 x
train = pd.read_csv('data/train.csv')
train.head()

  index category                                               data
0   인덱스     카테고리                                                데이터
1     0        2  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
2     1        0  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
3     2        1  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...
4     3        1  티비 12세,15세 관람가도 연령확인 의무화 하자.. 제기 에전에 티비를 보다가 잠...

# [↩️ 리스트로 돌아가기](https://dacon.io/competitions/open/235698/overview/description)