<a href="https://colab.research.google.com/github/xoyeon/Dacon-Daily-Python-Camp_follow/blob/main/Lv1_%EC%A0%84%EC%B2%98%EB%A6%AC_2_2_%EA%B2%B0%EC%B8%A1%EC%B9%98%EC%82%AD%EC%A0%9C%ED%95%98%EA%B8%B0%2C_%EB%8C%80%EC%B2%B4%ED%95%98%EA%B8%B0(dropna()%2Cfillna()).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [↩️ 리스트로 돌아가기](https://dacon.io/competitions/open/235698/overview/description)

# 셀을 실행할 때 팝업이 뜨면 `무시하고 계속하기` 를 눌러주세요

## 데이터 다운로드
--- 
아래 셀을 실행시켜 데이터를 colab에 불러옵니다.  
셀 실행은 Ctrl + Enter 를 이용해 실행 시킬 수 있습니다.

In [1]:
# 데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3gLj0Q6'

import zipfile
with zipfile.ZipFile('3gLj0Q6', 'r') as existing_zip:
    existing_zip.extractall('data')

--2021-08-18 00:58:07--  https://bit.ly/3gLj0Q6
Resolving bit.ly (bit.ly)... 67.199.248.10, 67.199.248.11
Connecting to bit.ly (bit.ly)|67.199.248.10|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E [following]
--2021-08-18 00:58:07--  https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E
Resolving drive.google.com (drive.google.com)... 74.125.31.139, 74.125.31.100, 74.125.31.101, ...
Connecting to drive.google.com (drive.google.com)|74.125.31.139|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/i59i736msnnkas6i5ctm8dkrh7hbo1gu/1629248250000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download [following]
Warning: wildcards not supported in HTTP.
--2021-08-18 00:58:07--  https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/i59i736msnnkas6i5ctm8dkrh7hbo1gu/1629248250000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download
Resolving doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)... 173.194.216.132, 2607:f8b0:400c:c12::84
Connecting to doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)|173.194.216.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39208 (38K) [application/zip]
Saving to: ‘3gLj0Q6’

3gLj0Q6             100%[===================>]  38.29K  --.-KB/s    in 0.001s

2021-08-18 00:58:07 (66.9 MB/s) - ‘3gLj0Q6’ saved [39208/39208]

## 데이터 불러오기
---
아래 셀을 실행시켜 train.csv 와 test.csv 를 dataframe 객체의 train 이라는 변수명과 test 라는 변수명으로 불러옵니다.

In [2]:
import pandas as pd

# 정답 코드
train = pd.read_csv('data/train.csv') 
test = pd.read_csv('data/test.csv')

## 👋 실습
---
DataFrame 객체의 dropna() 매서드를 사용해서 train 과 test 의 결측치를 삭제하는 코드를 아래에 작성하세요.

In [4]:
train.dropna()

        id  hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0        3    20                  16.3  ...           76.0            33.0   49.0
1        6    13                  20.1  ...           73.0            40.0  159.0
2        7     6                  13.9  ...           32.0            19.0   26.0
3        8    23                   8.1  ...           75.0            64.0   57.0
4        9    18                  29.5  ...           27.0            11.0  431.0
...    ...   ...                   ...  ...            ...             ...    ...
1454  2174     4                  16.8  ...           37.0            27.0   21.0
1455  2175     3                  10.8  ...           34.0            19.0   20.0
1456  2176     5                  18.3  ...           30.0            21.0   22.0
1457  2178    21                  20.7  ...           71.0            36.0  216.0
1458  2179    17                  21.1  ...           38.0            17.0  170.0

[1328 rows x 11 columns]

In [8]:
test.fillna(0)

       id  hour  ...  hour_bef_pm10  hour_bef_pm2.5
0       0     7  ...           44.0            27.0
1       1    17  ...           49.0            36.0
2       2    13  ...           36.0            28.0
3       4     6  ...           52.0            38.0
4       5    22  ...           18.0            15.0
..    ...   ...  ...            ...             ...
710  2148     1  ...            0.0             0.0
711  2149     1  ...            0.0             0.0
712  2165     9  ...           17.0            15.0
713  2166    16  ...           40.0            26.0
714  2177     8  ...           30.0            24.0

[715 rows x 10 columns]

## 정답
---
질문사항을 얼마든지 [게시글](https://dacon.io/competitions/open/235698/talkboard/403490)에 남겨주세요 😉 <br>
궁금한 것, 이해가 안 되는 것, 원리, 확장개념, 참고 등등 모든 범위에서 얼마든지 질문을 달아주세요 🙋

In [ ]:
# 정답 코드

train = train.dropna()
test = test.fillna(0)

# [↩️ 리스트로 돌아가기](https://dacon.io/competitions/open/235698/overview/description)