<a href="https://colab.research.google.com/github/xoyeon/Dacon-Daily-Python-Camp_follow/blob/main/Lv3_EDA_2_6_isnull()_sum().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [‚Ü©Ô∏è Î¶¨Ïä§Ìä∏Î°ú ÎèåÏïÑÍ∞ÄÍ∏∞](https://dacon.io/competitions/open/235698/overview/description)

# ÏÖÄÏùÑ Ïã§ÌñâÌï† Îïå ÌåùÏóÖÏù¥ Îú®Î©¥ `Î¨¥ÏãúÌïòÍ≥† Í≥ÑÏÜçÌïòÍ∏∞` Î•º ÎàåÎü¨Ï£ºÏÑ∏Ïöî

## Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú
---
ÏïÑÎûò ÏÖÄÏùÑ Ïã§ÌñâÏãúÏºú Îç∞Ïù¥ÌÑ∞Î•º colab Ïóê Î∂àÎü¨ÏòµÎãàÎã§.
ÏÖÄ Ïã§ÌñâÏùÄ Ctrl + Enter Î•º Ïù¥Ïö©Ìï¥ Ïã§ÌñâÏãúÌÇ¨ Ïàò ÏûàÏäµÎãàÎã§.

In [1]:
# Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú ÎßÅÌÅ¨Î°ú Îç∞Ïù¥ÌÑ∞Î•º ÏΩîÎû©Ïóê Î∂àÎü¨ÏòµÎãàÎã§.

!wget 'https://bit.ly/3i4n1QB'

import zipfile
with zipfile.ZipFile('3i4n1QB', 'r') as existing_zip:
    existing_zip.extractall('data')

--2021-08-23 02:45:39--  https://bit.ly/3i4n1QB
Resolving bit.ly (bit.ly)... 67.199.248.11, 67.199.248.10
Connecting to bit.ly (bit.ly)|67.199.248.11|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw [following]
--2021-08-23 02:45:39--  https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw
Resolving drive.google.com (drive.google.com)... 74.125.195.100, 74.125.195.113, 74.125.195.102, ...
Connecting to drive.google.com (drive.google.com)|74.125.195.100|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/hvdi7m8t2d6jret7ivfeuiir8ovbes43/1629686700000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download [following]
Warning: wildcards not supported in HTTP.
--2021-08-23 02:45:40--  https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/hvdi7m8t2d6jret7ivfeuiir8ovbes43/1629686700000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download
Resolving doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)... 74.125.20.132, 2607:f8b0:400e:c07::84
Connecting to doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)|74.125.20.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 137694 (134K) [application/zip]
Saving to: ‚Äò3i4n1QB‚Äô

3i4n1QB             100%[===================>] 134.47K  --.-KB/s    in 0.001s

2021-08-23 02:45:40 (104 MB/s) - ‚Äò3i4n1QB‚Äô saved [137694/137694]

## ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
---

In [2]:
import pandas as pd

## Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
---

In [3]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

## üëã Ïã§Ïäµ
---

In [4]:
# isnull() Îß§ÏÑúÎìúÎ°ú  Í≤∞Ï∏°Ïπò Ï°¥Ïû¨Ïó¨Î∂ÄÎ•º ÌôïÏù∏ÌïòÏÑ∏Ïöî.
train.isnull()

      index  quality  fixed acidity  ...  sulphates  alcohol   type
0     False    False          False  ...      False    False  False
1     False    False          False  ...      False    False  False
2     False    False          False  ...      False    False  False
3     False    False          False  ...      False    False  False
4     False    False          False  ...      False    False  False
...     ...      ...            ...  ...        ...      ...    ...
5492  False    False          False  ...      False    False  False
5493  False    False          False  ...      False    False  False
5494  False    False          False  ...      False    False  False
5495  False    False          False  ...      False    False  False
5496  False    False          False  ...      False    False  False

[5497 rows x 14 columns]

In [5]:
test.isnull()

     index  fixed acidity  volatile acidity  ...  sulphates  alcohol   type
0    False          False             False  ...      False    False  False
1    False          False             False  ...      False    False  False
2    False          False             False  ...      False    False  False
3    False          False             False  ...      False    False  False
4    False          False             False  ...      False    False  False
..     ...            ...               ...  ...        ...      ...    ...
995  False          False             False  ...      False    False  False
996  False          False             False  ...      False    False  False
997  False          False             False  ...      False    False  False
998  False          False             False  ...      False    False  False
999  False          False             False  ...      False    False  False

[1000 rows x 13 columns]

In [6]:
# sum() Îß§ÏÑúÎìúÎ°ú Í≤∞Ï∏°ÏπòÏùò Í∞ØÏàòÎ•º Ï∂úÎ†•ÌïòÏÑ∏Ïöî.
print(train.isnull().sum())
print('----------------------')
print(test.isnull().sum())

index                   0
quality                 0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
type                    0
dtype: int64
----------------------
index                   0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
type                    0
dtype: int64

## Ï†ïÎãµ
---

In [ ]:
train.isnull()

In [ ]:
test.isnull()

In [ ]:
train.isnull().sum()

In [ ]:
test.isnull().sum()

# [‚Ü©Ô∏è Î¶¨Ïä§Ìä∏Î°ú ÎèåÏïÑÍ∞ÄÍ∏∞](https://dacon.io/competitions/open/235698/overview/description)