<a href="https://colab.research.google.com/github/xoyeon/Dacon-Daily-Python-Camp/blob/main/Lv4_%EC%A0%84%EC%B2%98%EB%A6%AC_8_9_Polynominal_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [‚Ü©Ô∏è Î¶¨Ïä§Ìä∏Î°ú ÎèåÏïÑÍ∞ÄÍ∏∞](https://dacon.io/competitions/open/235698/overview/description)

# ÏÖÄÏùÑ Ïã§ÌñâÌï† Îïå ÌåùÏóÖÏù¥ Îú®Î©¥ `Î¨¥ÏãúÌïòÍ≥† Í≥ÑÏÜçÌïòÍ∏∞` Î•º ÎàåÎü¨Ï£ºÏÑ∏Ïöî

# Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú

In [1]:
# Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú ÎßÅÌÅ¨Î°ú Îç∞Ïù¥ÌÑ∞Î•º ÏΩîÎû©Ïóê Î∂àÎü¨ÏòµÎãàÎã§.

!wget 'https://bit.ly/3i4n1QB'

import zipfile
with zipfile.ZipFile('3i4n1QB', 'r') as existing_zip:
    existing_zip.extractall('data')

--2021-08-27 02:36:20--  https://bit.ly/3i4n1QB
Resolving bit.ly (bit.ly)... 67.199.248.10, 67.199.248.11
Connecting to bit.ly (bit.ly)|67.199.248.10|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw [following]
--2021-08-27 02:36:20--  https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw
Resolving drive.google.com (drive.google.com)... 142.250.152.102, 142.250.152.113, 142.250.152.101, ...
Connecting to drive.google.com (drive.google.com)|142.250.152.102|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/o9htouoatgujpjd0tcg8f905q5tb86uc/1630031775000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download [following]
Warning: wildcards not supported in HTTP.
--2021-08-27 02:36:20--  https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/o9htouoatgujpjd0tcg8f905q5tb86uc/1630031775000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download
Resolving doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)... 74.125.202.132, 2607:f8b0:4001:c06::84
Connecting to doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)|74.125.202.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 137694 (134K) [application/zip]
Saving to: ‚Äò3i4n1QB.1‚Äô

3i4n1QB.1           100%[===================>] 134.47K  --.-KB/s    in 0.001s

2021-08-27 02:36:21 (109 MB/s) - ‚Äò3i4n1QB.1‚Äô saved [137694/137694]

In [2]:
import pandas as pd
import numpy as np

train = pd.read_csv('data/train.csv')

## ÎùºÏù¥Î∏åÎü¨Î¶¨ Ìò∏Ï∂ú

In [3]:
# PolynomialFeatures ÎùºÏù¥Î∏åÎü¨Î¶¨ Ìò∏Ï∂ú
from sklearn.preprocessing import PolynomialFeatures

PolynomialFeaturesÎùºÏù¥Î∏åÎü¨Î¶¨Îäî sklearnÏóê ÎÇ¥Ïû•ÎêòÏñ¥ ÏûàÎäî ÎùºÏù¥Î∏åÎü¨Î¶¨ ÏûÖÎãàÎã§.  

Ïù¥ ÎùºÏù¥Î∏åÎü¨Î¶¨Î•º Ïù¥Ïö©ÌïòÎ©¥ ÌòÑÏû¨ Îç∞Ïù¥ÌÑ∞Î•º Îã§Ìï≠Ïãù ÌòïÌÉúÎ°ú Î≥ÄÌôò ÏãúÌÇ¨ Ïàò ÏûàÏäµÎãàÎã§.


> Îç∞Ïù¥ÌÑ∞Ïóê x1,x2 Î≥ÄÏàòÍ∞Ä ÏûàÎã§ ÌïòÎ©¥ PolynomialFeatures ÎùºÏù¥Î∏åÎü¨Î¶¨Î•º Ïù¥Ïö©Ìï¥ 

> 1, x1, x2, x1^2, x1*x2, x2^2 Î°ú Í∞ÑÎã®ÌïòÍ≤å Î≥ÄÌôò ÏãúÌÇ¨ Ïàò ÏûàÏäµÎãàÎã§.

## üëã Ïã§Ïäµ
---

In [4]:
# ÏûÑÏùò Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±

X = np.arange(6).reshape(3, 2)

df =  pd.DataFrame(X)
df.columns = ['x_1','x_2']
df

   x_1  x_2
0    0    1
1    2    3
2    4    5

In [5]:
 # poly_featuresÏ†ïÏùò , Ï∞®ÏõêÏùÄ 2Î°ú ÏÑ§Ï†ï
 # fit_transform Î©îÏÜåÎìúÎ•º ÌÜµÌï¥ df Îç∞Ïù¥ÌÑ∞ Î≥ÄÌôò
 # PolynomialFeaturesÎ°ú Î≥ÄÌôò Îêú Îç∞Ïù¥ÌÑ∞Î•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÌòïÌÉúÎ°ú Î≥ÄÌôò ÌõÑ  df_polyÎ°ú ÏßÄÏ†ï
poly_features = PolynomialFeatures(degree=2)
df_poly = poly_features.fit_transform(df)
df_poly = pd.DataFrame(df_poly)
df_poly

     0    1    2     3     4     5
0  1.0  0.0  1.0   0.0   0.0   1.0
1  1.0  2.0  3.0   4.0   6.0   9.0
2  1.0  4.0  5.0  16.0  20.0  25.0

In [6]:
# df_polyÏùò Ïª¨ÎüºÏùÑ 1,x1,x2,x1^2,x1*x2,x2^2 Î°ú Î≥ÄÍ≤Ω
df_poly.columns = ['1','x1','x2','x1^2','x1*x2','x2^2']
df_poly

     1   x1   x2  x1^2  x1*x2  x2^2
0  1.0  0.0  1.0   0.0    0.0   1.0
1  1.0  2.0  3.0   4.0    6.0   9.0
2  1.0  4.0  5.0  16.0   20.0  25.0

## Ï†ïÎãµ

In [ ]:
poly_features = PolynomialFeatures(degree=2) # Ï∞®ÏõêÏùÄ 2Î°ú ÏÑ§Ï†ï
df_poly = poly_features.fit_transform(df) # fit_transform Î©îÏÜåÎìúÎ•º ÌÜµÌï¥ Îç∞Ïù¥ÌÑ∞ Î≥ÄÌôò
df_poly = pd.DataFrame(df_poly) # PolynomialFeaturesÎ°ú Î≥ÄÌôò Îêú Îç∞Ïù¥ÌÑ∞Î•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÌòïÌÉúÎ°ú Î≥ÄÌôò
df_poly

In [ ]:
df_poly.columns = ['1','x1','x2','x1^2','x1*x2','x2^2'] # df_polyÏùò Ïª¨ÎüºÏùÑ 1,x1,x2,x1^2,x1*x2,x2^2 Î°ú Î≥ÄÍ≤Ω
df_poly

# [‚Ü©Ô∏è Î¶¨Ïä§Ìä∏Î°ú ÎèåÏïÑÍ∞ÄÍ∏∞](https://dacon.io/competitions/open/235698/overview/description)