<a href="https://colab.research.google.com/github/xoyeon/Dacon-Daily-Python-Camp_follow/blob/main/Lv1_%EB%B3%B5%EC%8A%B5_2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [↩️ 리스트로 돌아가기](https://dacon.io/competitions/open/235698/overview/description)

# 셀을 실행할 때 팝업이 뜨면 `무시하고 계속하기` 를 눌러주세요

## 데이터 다운로드
--- 
아래 셀을 실행시켜 데이터를 colab에 불러옵니다.  
셀 실행은 Ctrl + Enter 를 이용해 실행 시킬 수 있습니다.

In [1]:
# 데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3gLj0Q6'

import zipfile
with zipfile.ZipFile('3gLj0Q6', 'r') as existing_zip:
    existing_zip.extractall('data')

--2021-08-19 02:33:05--  https://bit.ly/3gLj0Q6
Resolving bit.ly (bit.ly)... 67.199.248.11, 67.199.248.10
Connecting to bit.ly (bit.ly)|67.199.248.11|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E [following]
--2021-08-19 02:33:05--  https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E
Resolving drive.google.com (drive.google.com)... 108.177.98.139, 108.177.98.100, 108.177.98.101, ...
Connecting to drive.google.com (drive.google.com)|108.177.98.139|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/sln439e5bm2qcljjumohllkut1fq7hi5/1629340350000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download [following]
Warning: wildcards not supported in HTTP.
--2021-08-19 02:33:05--  https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/sln439e5bm2qcljjumohllkut1fq7hi5/1629340350000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download
Resolving doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)... 74.125.142.132, 2607:f8b0:400e:c08::84
Connecting to doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)|74.125.142.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39208 (38K) [application/zip]
Saving to: ‘3gLj0Q6’

3gLj0Q6             100%[===================>]  38.29K  --.-KB/s    in 0.001s

2021-08-19 02:33:05 (63.5 MB/s) - ‘3gLj0Q6’ saved [39208/39208]

## 라이브러리 불러오기
---

In [2]:
# Pandas 와 Scikit-learn 라이브러리를 불러오세요
import pandas as pd
import sklearn
from sklearn.tree import DecisionTreeRegressor

## 데이터 불러오기
---

In [3]:
# train.csv 와 test.csv 를 DataFrame 클래스로 불러오세요
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

## 데이터 정보 관찰하기
---

In [4]:
# head() 를 사용해 데이터 정보를 관찰하세요
print(train.head())
print('=====================')
print(test.head())

   id  hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0   3    20                  16.3  ...           76.0            33.0   49.0
1   6    13                  20.1  ...           73.0            40.0  159.0
2   7     6                  13.9  ...           32.0            19.0   26.0
3   8    23                   8.1  ...           75.0            64.0   57.0
4   9    18                  29.5  ...           27.0            11.0  431.0

[5 rows x 11 columns]
=====================
   id  hour  ...  hour_bef_pm10  hour_bef_pm2.5
0   0     7  ...           44.0            27.0
1   1    17  ...           49.0            36.0
2   2    13  ...           36.0            28.0
3   4     6  ...           52.0            38.0
4   5    22  ...           18.0            15.0

[5 rows x 10 columns]

## 데이터 행열 갯수 관찰
---

In [5]:
# shape 를 사용해 데이터 크기를 관찰하세요
train.shape, test.shape

((1459, 11), (715, 10))

## 결측치 확인
---

In [6]:
# info() 를 사용해 결측치가 있는지 확인하세요.
print(train.info())
print('=====================')
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB
None
=====================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    714 non-null    float64
 3   hour_bef_precipitation  714 non-null    float64
 4   hour_bef_windspeed      714 non-null    float64
 5   hour_bef_humidity       714 non-null    float64
 6   hour_bef_visibility     714 non-null    float64
 7   hour_bef_ozone          680 non-null    float64
 8   hour_bef_pm10           678 non-null    float64
 9   hour_bef_pm2.5          679 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB
None

## 결측치 전처리
---

In [7]:
# dropna() 를 사용해 train 데이터는 결측치를 제거하고
# fillna() 를 사용해 test 데이터 결측치는 0 으로 대체하세요.
# 그리고 결측치의 갯수를 출력하여 확안하세요.
train = train.dropna()
test = test.fillna(0)

In [8]:
print(train.isnull().sum())
print('=====================')
print(test.isnull().sum())

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
count                     0
dtype: int64
=====================
id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
dtype: int64

## 모델 훈련
---

In [9]:
# train 데이터의 count 피쳐를 뺀 것을 X_train 으로 할당하세요.
# train 데이터의 count 피쳐만을 가진 것을 Y_train 으로 할당하세요.
# 회귀의사결정나무를 선언하고 fit() 으로 훈련시키세요.
X_train = train.drop(['count'], axis=1)
Y_train = train['count']

In [10]:
model = DecisionTreeRegressor()
model.fit(X_train, Y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

## 테스트 파일 예측
---

In [11]:
# predict() 을 이용해 test data 를 훈련한 모델로 예측한 data array 를 생성하세요.
pred = model.predict(test)
pred

array([106., 164.,  88.,  49.,  64., 115.,   5., 300.,  15., 165., 278.,
       219., 114.,  36., 193., 165.,  29., 193., 431., 133., 300., 106.,
        20., 138., 155., 119.,  46., 127., 129., 181.,  30.,  30., 137.,
        92., 278.,  49., 181., 109., 324.,   6., 137., 127., 215.,  13.,
       324., 244.,   6., 137.,  28.,  80., 300.,  94., 241.,  93., 284.,
        51.,  36., 152.,   2.,  17., 106.,  81., 305., 252., 143., 331.,
         9., 173.,   5.,  20.,  92.,  50., 215.,  19., 317., 284.,  37.,
       109., 215.,  13., 252., 181., 103.,  90., 109., 375., 137., 159.,
       137., 278., 331., 133., 137.,  95.,  52.,  80.,  96.,  30., 241.,
       143.,  19., 127., 137., 107.,  12.,  64., 101.,  15., 180., 143.,
       173., 317., 152., 119., 137., 108., 278.,  52., 284.,  19.,  92.,
       107., 193., 339.,  52., 115., 137.,  28., 123., 137., 121., 272.,
        28., 165., 278., 115.,  44., 181., 317., 431., 267.,  34.,  49.,
       137.,  76., 129.,  75., 115., 168., 218., 181., 317., 425., 126.,
         5.,   3., 115.,   3.,  80., 181., 133.,  17., 262., 126., 141.,
         9., 305., 133., 252.,  17., 124., 108.,  69., 104.,  92.,  74.,
       252., 193., 263.,  97., 221., 215., 168., 257., 138., 137., 137.,
       317., 133.,  44.,  39., 115., 138., 113., 181., 317., 425., 133.,
       114., 119.,  18., 305.,  20., 425., 121.,  49., 138., 252., 191.,
       137., 331., 267., 130., 315., 193.,  97., 278., 124., 189., 107.,
       106.,  27.,  92., 137., 140.,  40., 190., 250.,  49., 267., 278.,
       140.,  20.,  26., 127.,  92., 425., 317., 131., 109.,  19., 284.,
        27.,  97., 140.,  85.,   5., 315., 106.,  18., 103., 143., 241.,
       267., 165., 222.,  34., 402.,  30.,  19., 127.,  29., 228.,  27.,
       241., 315.,  28., 176.,  94., 219., 125., 118., 137., 331.,  17.,
       252.,  69., 193., 267.,  40., 278.,  92.,  19., 222., 267., 124.,
       290., 115., 137.,  88.,  92., 290., 267., 181., 122.,  49., 133.,
        39., 290.,  20.,  95., 290., 213., 246., 380., 284., 107., 137.,
       167.,  80., 278., 278., 213.,  49., 227., 150.,   5.,  45.,  34.,
        19., 193.,  44., 138., 102., 103., 425., 252.,  92.,  66., 165.,
        27., 103., 134., 233., 111.,  15., 315., 252., 120., 425.,  17.,
        17., 331., 152., 108.,   9.,  19.,  92., 121., 331., 193., 257.,
        37., 137., 213., 137.,  17.,  17.,  92., 103., 137., 102., 193.,
       241.,  97.,  25.,  15.,  92.,  28., 272., 121.,  98., 274., 331.,
       216.,  17.,  39., 115., 106.,  15.,  46., 108., 278., 252., 121.,
        24., 125., 152., 137., 158.,  44.,   5., 252., 137., 135., 108.,
       278.,  34.,  30., 228.,  14.,  68.,  15., 227.,  85.,  79., 193.,
       241., 108., 132., 272., 278., 107., 105.,  44.,  92., 263.,  94.,
       137., 137.,  19.,  29.,  19.,  46.,  92., 135.,  92., 172., 135.,
       380., 120., 150., 252., 112., 107., 193., 331.,  30., 108., 380.,
       247., 138.,  40.,  92., 221., 106., 119.,  42., 324., 252., 278.,
        91., 152., 109., 120., 102., 109.,  89., 137., 108., 193., 221.,
       107., 108.,  80., 125., 252.,  74., 188., 309., 274., 137., 286.,
        91.,  37., 221.,   2.,   5., 193., 252.,  92., 106.,  34.,  18.,
       219., 135., 375., 252.,  80., 138., 272., 150., 137.,  37.,  22.,
       267.,  83., 228., 331., 148.,  19., 284., 137.,  91.,  30., 173.,
       316.,  30., 126.,  96., 305., 193., 213., 193., 431.,  85.,   5.,
       109., 181., 193.,  46., 216.,  21., 137.,  20.,  82.,  30., 193.,
       222., 173.,   5.,  17.,  33., 252.,  95.,  46.,  92.,  18.,  33.,
        33., 278.,  11., 284., 226., 293., 109.,  92.,  37.,  92., 103.,
       214.,  33.,  24., 165.,  22., 241., 165.,  30., 109., 187., 257.,
       342.,  30.,  95.,  33.,  46.,  85., 117.,  30., 107.,  86., 215.,
       199., 398., 152., 278., 199., 278.,  17.,  30.,  21.,  33.,  98.,
        19.,   2.,  91.,  20., 252., 315., 173.,  98.,  68.,  30., 138.,
        87.,  92., 187.,  18., 205., 134.,  28., 215.,  92.,  70., 117.,
       222., 111., 425., 278., 205., 127., 158.,  24.,  94.,  75.,  24.,
        51., 226., 102., 267., 137., 139.,  87., 193., 135., 335., 137.,
        14.,   8., 316., 205.,  86.,  22.,  46.,  92., 102., 246., 165.,
        69.,   5., 135.,  90., 137.,  79., 310., 173., 252., 339., 252.,
       193.,  17.,  79.,  92.,  73., 257., 252., 119., 108., 115.,  22.,
       124., 252.,  27.,  30.,  94.,  75., 189., 173., 375.,  98.,  92.,
        91., 310., 113., 189., 135.,   5., 267.,  15.,  33.,  28., 127.,
        92., 214., 278., 115.,  93.,  27., 267.,  11., 135.,  32.,   5.,
        95., 137., 115.,   5.,  86., 158.,  30., 331., 219.,  19., 431.,
       150., 213.,  43.,  75.,  30., 305., 137., 137., 132., 213., 267.])

## submission 파일 생성
---

In [12]:
# submission.csv 를 불러오세요.
# submission df 의 count 피쳐에 예측한 결과를 덧입히세요.
# submission df 를 to_csv() 를 이용해 csv 을 생성하세요. *index=False) 
submission = pd.read_csv('data/submission.csv')
submission['count'] = pred
submission.to_csv('sub.csv', index=False)

## 정답 (`숨겨진 셀 n개` 를 누르세요.)
---
질문사항을 얼마든지 [게시글](https://dacon.io/competitions/open/235698/talkboard/403540?page=1&dtype=recent)에 남겨주세요 😉 <br>
궁금한 것, 이해가 안 되는 것, 원리, 확장개념, 참고 등등 모든 범위에서 얼마든지 질문을 달아주세요 🙋

In [ ]:
import pandas as pd

In [ ]:
train = pd.read_csv('data/train.csv') 
test = pd.read_csv('data/test.csv')

In [ ]:
train.head()

   id  hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0   3    20                  16.3  ...           76.0            33.0   49.0
1   6    13                  20.1  ...           73.0            40.0  159.0
2   7     6                  13.9  ...           32.0            19.0   26.0
3   8    23                   8.1  ...           75.0            64.0   57.0
4   9    18                  29.5  ...           27.0            11.0  431.0

[5 rows x 11 columns]

In [ ]:
test.head()

   id  hour  ...  hour_bef_pm10  hour_bef_pm2.5
0   0     7  ...           44.0            27.0
1   1    17  ...           49.0            36.0
2   2    13  ...           36.0            28.0
3   4     6  ...           52.0            38.0
4   5    22  ...           18.0            15.0

[5 rows x 10 columns]

In [ ]:
train.shape

In [ ]:
test.shape

In [ ]:
train.info()

In [ ]:
test.info()

In [ ]:
train = train.dropna()
test = test.fillna(0)

print(train.isnull().sum())

In [ ]:
X_train = train.drop(['count'], axis=1)
Y_train = train['count']
model = DecisionTreeRegressor()
model.fit(X_train, Y_train)

In [ ]:
pred = model.predict(test)

In [ ]:
submission = pd.read_csv('data/submission.csv')
submission['count'] = pred
submission.to_csv('sub.csv',index=False)

# [↩️ 리스트로 돌아가기](https://dacon.io/competitions/open/235698/overview/description)