<a href="https://colab.research.google.com/github/xoyeon/Dacon-Daily-Python-Camp/blob/main/Lv4_%EC%A0%84%EC%B2%98%EB%A6%AC_%EB%B3%B5%EC%8A%B5_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [↩️ 리스트로 돌아가기](https://dacon.io/competitions/open/235698/overview/description)

# 셀을 실행할 때 팝업이 뜨면 `무시하고 계속하기` 를 눌러주세요

기존 내용과 상이한 부분이 있어 주석으로 문제를 제출하는 것에 한계가 있기때문에,   
이번시간에는 게시글의 코드를 보며 필사하는 시간을 갖도록 하겠습니다.

## 데이터 다운로드
---
아래 셀을 실행시켜 데이터를 colab 에 불러옵니다.
셀 실행은 Ctrl + Enter 를 이용해 실행시킬 수 있습니다.

In [1]:
# 데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3i4n1QB'

import zipfile
with zipfile.ZipFile('3i4n1QB', 'r') as existing_zip:
    existing_zip.extractall('data')

--2021-08-27 03:27:39--  https://bit.ly/3i4n1QB
Resolving bit.ly (bit.ly)... 67.199.248.11, 67.199.248.10
Connecting to bit.ly (bit.ly)|67.199.248.11|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw [following]
--2021-08-27 03:27:39--  https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw
Resolving drive.google.com (drive.google.com)... 173.194.215.102, 173.194.215.139, 173.194.215.138, ...
Connecting to drive.google.com (drive.google.com)|173.194.215.102|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/97p9fehj2vs7cc8gn3cind3ien5j61ak/1630034850000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download [following]
Warning: wildcards not supported in HTTP.
--2021-08-27 03:27:40--  https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/97p9fehj2vs7cc8gn3cind3ien5j61ak/1630034850000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download
Resolving doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)... 173.194.217.132, 2607:f8b0:400c:c13::84
Connecting to doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)|173.194.217.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 137694 (134K) [application/zip]
Saving to: ‘3i4n1QB’

3i4n1QB             100%[===================>] 134.47K  --.-KB/s    in 0.002s

2021-08-27 03:27:40 (79.3 MB/s) - ‘3i4n1QB’ saved [137694/137694]

In [2]:
# 라이브러리 및 데이터 불러오기
import pandas as pd

train = pd.read_csv('data/train.csv')

##**연속형 변수 변환**
연속형 변수를 범주형 변수로 변환 시키는 방법은 여러가지가 있겠지만 그중 2가지에 대해 알아 보겠습니다.

1. 수치 범위 구간을 직접 레이블링 하기
2. pandas의 cut() 함수로 레이블링 하기

## 👋 실습
---

pandas의 cut() 함수를 이용하면 손쉽게 연속형 변수를 범주형 변수로 변환 시킬 수 있습니다.

In [3]:
# train 데이터 확인
train.head()

   index  quality  fixed acidity  ...  sulphates  alcohol   type
0      0        5            5.6  ...       0.44     10.2  white
1      1        5            8.8  ...       0.59      9.5    red
2      2        5            7.9  ...       0.52     10.9  white
3      3        6            7.0  ...       0.50     10.8  white
4      4        6            7.8  ...       0.43     10.9  white

[5 rows x 14 columns]

In [4]:
 # train 데이터의 alcohol 변수를 구간이 5개인 범주형 변수로 변환
 train['alcohol'] = pd.cut(train.alcohol, 5,labels=False)

In [5]:
# 변환 후 데이터 확인
train.head()

   index  quality  fixed acidity  ...  sulphates  alcohol   type
0      0        5            5.6  ...       0.44        1  white
1      1        5            8.8  ...       0.59        1    red
2      2        5            7.9  ...       0.52        2  white
3      3        6            7.0  ...       0.50        2  white
4      4        6            7.8  ...       0.43        2  white

[5 rows x 14 columns]

## 정답

In [ ]:
# train 데이터 확인
train.head()

In [ ]:
 # train 데이터의 alcohol 변수를 구간이 5개인 범주형 변수로 변환
 train['alcohol'] = pd.cut(train.alcohol, 5,labels=False)

In [ ]:
# 변환 후 데이터 확인
train.head()

## 👋 실습
---
1. train 데이터 변환
2. 모델 학습 (Decision Tree)
3. test 데이터 변환
4. 추론
5. 정답 파일 생성

## **Polynominal features**

PolynomialFeatures라이브러리는 sklearn에 내장되어 있는 라이브러리 입니다.  

이 라이브러리를 이용하면 현재 데이터를 다항식 형태로 변환 시킬 수 있습니다.

In [6]:
# 라이브러리 및 데이터 불러오기
import pandas as pd

# PolynomialFeatures 라이브러리 호출
from sklearn.preprocessing import PolynomialFeatures

# 데이터 불러오기
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

# 범주형 변수 제거
train.drop('type', axis = 1,inplace = True)
test.drop('type', axis = 1,inplace = True)

# index 변수 제거

train.drop('index', axis = 1,inplace = True)
test.drop('index', axis = 1,inplace = True)

In [7]:
# 데이터 확인
train.head()

   quality  fixed acidity  volatile acidity  ...    pH  sulphates  alcohol
0        5            5.6             0.695  ...  3.44       0.44     10.2
1        5            8.8             0.610  ...  3.19       0.59      9.5
2        5            7.9             0.210  ...  3.05       0.52     10.9
3        6            7.0             0.210  ...  3.26       0.50     10.8
4        6            7.8             0.400  ...  3.04       0.43     10.9

[5 rows x 12 columns]

In [8]:
 # train 데이터를 PolynomialFeatures 를 이용하여 변환
poly_features = PolynomialFeatures(degree=2)

df = train.drop('quality', axis=1)
df_poly = poly_features.fit_transform(df)
df_poly = pd.DataFrame(df_poly)

In [9]:
# DecisionTreeClassifier 모델을 변환된 train 데이터로 학습

from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(df_poly,train['quality'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [10]:
# test 데이터 변환
poly_features = PolynomialFeatures(degree=2)
test_poly = poly_features.fit_transform(test)
test_poly = pd.DataFrame(test_poly)

In [11]:
# 결괏값 추론
pred = model.predict(test_poly)

In [12]:
# 정답 파일 생성
submission = pd.read_csv('data/sample_submission.csv')
submission['quality'] = pred
submission.to_csv('poly.csv', index=False)

## 정답
---

In [ ]:
 # train 데이터를 PolynomialFeatures 를 이용하여 변환
 
poly_features = PolynomialFeatures(degree=2) # 차원은 2로 설정

# 와인 품질 기준인 quality 변수를 제외한 나머지 변수를 포함한 데이터 변환.
df = train.drop('quality',axis = 1)
df_poly = poly_features.fit_transform(df) # fit_transform 메소드를 통해 데이터 변환
df_poly = pd.DataFrame(df_poly) # PolynomialFeatures로 변환 된 데이터를 데이터 프레임 형태로 변환

In [ ]:
# DecisionTreeClassifier 모델을 변환된 train 데이터로 학습

from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(df_poly,train['quality'])

In [ ]:
# test 데이터 변환

poly_features = PolynomialFeatures(degree=2) # 차원은 2로 설정

test_poly = poly_features.fit_transform(test) # fit_transform 메소드를 통해 데이터 변환
test_poly = pd.DataFrame(test_poly) # PolynomialFeatures로 변환 된 데이터를 데이터 프레임 형태로 변환

In [ ]:
# 결괏값 추론
pred = model.predict(test_poly)

In [ ]:
# 정답 파일 생성
submission = pd.read_csv('data/sample_submission.csv')
submission['quality'] = pred
submission.to_csv('poly.csv',index = False)

# [↩️ 리스트로 돌아가기](https://dacon.io/competitions/open/235698/overview/description)